.button {
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #0F8FEE;
    border-radius: 1px;
    color: white;
    padding: 9px 15px;
    border: none;
    text-align: center;

    &:hover , &:active {
        background-color: #3781D0;
    }
}